<!-- <body class="h-screen "> -->
  <app-header></app-header>
  <section class="px-11 py-4">

    <div class="flex flex-row mb-3">
      <h1 class="text-5xl text-white font-extrabold ">Pedidos en espera</h1>
    </div>


    <div class="card-container text-xl horizontal-scroll">

      <app-card 
      *ngFor="let order of pendingOrders"
      [order]="order"
      (markReady)="marcarPedidoListo(order.id)"
      (seeOrders)="loadPendingOrders()"
      >
    </app-card>
    
    <!-- <app-timer
    *ngFor="let order of pendingOrders"
    [order]="order"
    (markReady)="marcarPedidoListo(order.id)"
    ></app-timer> -->

    </div>


    <div *ngIf="pendingOrders.length === 0">
      <p>No hay ordenes pendientes</p>
    </div>
  </section>

<!-- </body> -->
