<div class="card-container text-xl horizontal-scroll">
    <div class="card p-2 bg-custom-dab5e1" >

      <div class="flex flex-row mt-1 ml-3">
        <div class="text-lg font-semibold mr-8">
          <strong class="text-2xl font-bold">Id:</strong> {{ order.id }}
        </div>

        <div class="text-xl font-semibold mr-8">
          <strong class="text-2xl font-bold">Cliente:</strong> {{ order.client }}
        </div>

        <div class="text-xl font-semibold">
          <strong class="text-2xl font-bold">Mesa:</strong> {{ order.mesa }}
        </div>
      </div>

      <div class="text-xl font-semibold mt-3 ml-8">
        <strong class="text-2xl font-bold">Productos:</strong>
        <ul>
          <li class="mt-2" *ngFor="let product of order.products">
            {{ product.quantity }} - {{ product.name }}
          </li>
        </ul>
      </div>

      <div class="text-2xl font-bold mt-7 ml-3">
        <strong class="text-2xl font-bold">Total:</strong> {{ calcularTotal(order.products) |
        currency:'USD':'symbol':'1.2-2' }}
      </div>

      <div class="text-2xl font-semibold mt-3 ml-3">
        <strong class="text-2xl font-bold text-rose-500" *ngIf="order.status === 'pending'">En fila de preparación</strong>
      </div>

      <div class="text-2xl font-semibold mt-3 ml-3">
        <strong class="text-2xl font-bold text-green-800" *ngIf="order.status === 'ready'">Pedido listo para entregar</strong>
      </div>

      <div class="text-2xl font-semibold mt-3 ml-3">
        <strong class="text-2xl font-bold text-amber-600" *ngIf="order.status === 'delivered'">Pedido entregado</strong>
      </div>

      <div class="text-2xl font-semibold mt-2 ml-3">
        <strong></strong> {{ order.dateEntry }}
      </div>

      <div class="text-2xl font-semibold mt-2 ml-3">
        <strong *ngIf="order.status === 'ready'">Tiempo de preparacion:</strong> {{formatearTiempo(tiempoTranscurrido)}}
      </div>

      <button class="entregado-btn flex justify-end bg-custom-b3ebe4 p-2 mt-3 mr-3 ml-auto"  *ngIf="order.status === 'pending' "
        (click)="markOrderReady(order.id)" (click)="stopTimer()">Pedido Listo</button>
        <!-- *ngIf="userRole === 'chef' " -->
        
        <button class="entregado-btn flex justify-end bg-custom-b3ebe4 p-2 mt-3 mr-3 ml-auto"  *ngIf="order.status === 'ready' "
        (click)="markOrderDelivered(order.id)">Entregar Orden</button>
        <!-- *ngIf="userRole === 'waiter'" -->

    </div>
  </div>
