@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Single+Day&display=swap');

body {
  background-image: url('../../assets/imgFondo.png');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}
  
  .logo img {
    width: 500px;
    height: auto;
  }

  .login-btn{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Single Day', cursive;
    color: #000;
    border: 4px solid #000;
    /* margin-left: 800px; */
  }
  
  .my-input :focus {
    border-color: #ff0000;
  }
  
  ::placeholder {
    color: #414141;
    font-weight: 700;
    font-size: xx-large;
    font-family: 'Share Tech', sans-serif;
  }