.menu {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Single Day', cursive;
    color: #000;
    border: 4px solid #000;
}

.orden {
    /* border-radius: 50px; */
    border: 4px solid #000;
}