<body>
    <section class="h-screen ">
      <div class="flex flex-row">
      <div class="logo mr-16 mt-10">
  
          <span class="menu bg-custom-b3ebe4 ml-10 py-2 px-3">Menu</span>
       
        <img class="w-24 ml-10 mt-3" src="../../../assets/LogoBQ.png" alt="burger queen">
      </div>

      <div class="btns mt-4">

        <button class="menu bg-custom-fa81aa h-20 w-48 rounded-md ml-16">
          Desayuno
        </button>

        <button class="menu bg-custom-fa81aa h-20 w-48 rounded-md ml-3">
          Almuerzo
        </button>

      </div>

      <div class="logOut ml-96">
        <button class="menu bg-custom-b3ebe4 h-20 w-20 rounded-md mt-4">
          <img src="../../../assets/logOut.png">
        </button>
      </div>
    </div>

      <div class="products">
        <!-- <div class="text-center bg-black bg-opacity-85 border-3 border-white rounded w-3/5 py-4">
          <h1 class="text-white text-8xl mb-3">Aqui van los productos </h1>
        </div> -->
      </div>
        <!-- <div class="cat flex justify-center mb-8">
            <img class="w-1/5" src="../../assets/pop-cat.gif" alt="Cat gif" />
          </div>
          <div class="flex justify-center items-center">
            <div class="text-center bg-black bg-opacity-85 border-3 border-white rounded w-3/5 py-4">
              <h1 class="text-white text-8xl mb-3">Aqui va el menu </h1>
            </div>
          </div> -->
    </section>
</body>

