body {
    background-image: url('../../../assets/fondo80.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .desayuno-item {
    width: 100%;
    height: 170px;
  }
.menu{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Single Day', cursive;
    color: #000;
    border: 4px solid #000000;
    border-radius: 15px;
}
.btn {
  font-size: 30px;
    font-family: 'Single Day', cursive;
    color: #000;
    border: 4px solid #000000;
    border-radius: 15px;
}
.orden{
    border: 4px solid #000;

}
.input-cliente {
    border: 1px solid #000;
}
.desayuno-item {
    border: 4px solid #000;
}
.order-items {
    border: 4px solid #000;
  }
