<body class="h-screen">
  <app-header></app-header>
  <section class="h-5/6">
    <div class="flex flex-row mx-11">
      <!-- <img class="h-40 ml-10 mt-3" src="../../../assets/LogoBQ.png" alt="burger queen" /> -->

      <div class="btns mt-2">
        <button class="menu bg-custom-fa81aa h-20 w-48 rounded-md" (click)="showMenu('Desayuno')">
          Desayuno
        </button>

        <button class="menu bg-custom-fa81aa h-20 w-48 rounded-md ml-3" (click)="showMenu('Almuerzo')">
          Almuerzo
        </button>

      </div>
      
      <!-- Boton cerrar sesion -->
      <div class="cerrar flex justify-end ml-auto mt-2" (click)="verPedidos()">
        <button class="menu bg-custom-fa81aa h-20 w-48 rounded-md">
          Pedidos
        </button>

      </div>
    </div>

    <main class="h-5/6 w-full m-auto px-11">

      <!-- MENU DESAYUNO / ALMUERZO -->

      <div class="desyuno-container h-full flex flex-row mt-4">
        <div class="desayuno-items grid-container w-3/5 mr-5">
          <figure class="desayuno-item p-1 bg-slate-200" *ngFor="let item of menuItems" (click)="addToOrderList(item)">
            <img class="h-16 m-auto" src="{{ item.image }}" alt="{{ item.name }}" />
            <h3 class="text-xl font-bold text-center">{{ item.name }}  ${{ item.price }}</h3>
          </figure>
        </div>

        <!-- PEDIDO DEL CLIENTE -->

        <div class="order-items flex justify-end bg-slate-200 w-2/5 h-full ml-auto p-3 ">
          <section class="flex flex-col w-full">

            <div class="mesa-cliente flex flex-row">
              <div class="cliente flex flex-col w-full">
                <label class="text-xl font-medium" for="cliente">Cliente:</label>
                <input class="input-cliente w-full h-8 text-xl" type="text" placeholder="cliente" id="cliente" [(ngModel)]="clientName"/>
              </div>
              <div class="mesa ml-4 flex flex-col w-full">
                <label class="text-xl font-medium" for="mesa">Mesa:</label>
                <input class="input-cliente w-2/4 h-8 text-xl" type="text" placeholder="mesa" id="mesa" [(ngModel)]="mesaNumber"/>
              </div>
            </div>

            <div class="pedido flex flex-col">
              <table class="mt-3">
                <thead>
                  <tr class="text-lg">
                    <th>QTY</th>
                    <th> </th>
                    <th>PRODUCTO</th>
                    <th>PRECIO</th>
                  </tr>
                </thead>

                <tbody>
                  <ng-container *ngFor="let orderItem of orderItems">
                    <tr>
                      <td class="text-xl my-2">{{ orderItem.quantity }}</td>
                      <td class="flex flex-row mt-2 mr-2">
                      <img class="h-5 mr-3" src="../../../assets/menos1.png" alt="delete" (click)="deleteProduct(orderItem)">
                      <img class="h-5 mr-2" src="../../../assets/mas.png" alt="add" (click)="addProduct(orderItem)">
                    </td>
                      <td class="text-xl my-2">{{ orderItem.name }}</td>
                      <td class="text-xl my-2">
                        <ng-container *ngIf="orderItem.price !== undefined && orderItem.quantity !== undefined">
                          ${{ orderItem.price * orderItem.quantity }}
                        </ng-container>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>

              <div class="total mt-3 mb-2 text-2xl font-semibold">
                Total: ${{ calcularTotal() }}
              </div>
            </div>

            <div class="flex flex-row justify-end">
              <button class="cancelar-orden btn text-2xl font-bold bg-custom-dab5e1 w-32 h-16 mr-10"
                (click)="cancelarOrden()">
                Cancelar
              </button>
              <button class="btn text-2xl font-bold bg-custom-b3ebe4 w-32 h-16" (click)="enviarOrden()">
                Enviar
              </button>
            </div>

          </section>
        </div>
      </div>


    </main>
  </section>
</body>