.products {
    color: #000;
}

.products-container {
    /* font-family: 'Share Tech', sans-serif; */
    font-size: x-large;
    color: #000;
    border: 4px solid #000000;
    border-radius: 25px;
}

.product {
    font-size: 30px;
    font-family: 'Single Day', cursive;
    color: #000;
    border: 2px solid #000000;
    border-radius: 5px;
}

.btn {
    font-size: 30px;
      font-family: 'Single Day', cursive;
      color: #000;
      border: 4px solid #000000;
      border-radius: 15px;
  }