/* .header {
    height: 70px;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
  }

  .icon-user {
    width: 55px;
    height: 55px;
    margin: 5px 0 0 10px;
    border-radius: 100%;
    margin: 10px 0 0 10px;
  }

  .containerInfo {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 10px;
  }

  p {
    color: #121619;
    font-family: 'Cabin', sans-serif;
    padding: 0;
    margin: 0;

  }

  .email-user {
    font-weight: bold;
  }

  .role-user {
    font-style: italic;
  } */

  .logOut {
    border: 3px solid #000000;
  }