<header class="header h-20 w-auto m-0 px-11 pt-2 bg-custom-dab5e1 flex">
  <img ngClass="mr-3" src="../../../assets/LogoBQ.png" *ngIf="role === 'admin'" class="icon-user">
  <div class="containerInfo">
      <p class="email-user font-bold text-xl">{{ email }}</p>
      <p class="role-user text-lg">{{ role }}</p>
  </div>
  <div class="flex justify-end ml-auto">
    <button class="logOut h-16 w-16 rounded-md " (click)="logout()">
      <img class="w-10 m-auto" src="../../../assets/logOut.png" alt="cerrar sesion">
    </button>
  </div>
</header>
