
  <app-header></app-header>
  <section class="px-11 py-4">

    <div class="flex flex-row mb-3">
      <h1 class="text-6xl text-custom-dab5e1 font-extrabold ">Ordenes Pendientes:</h1>
      <button class="btn text-black bg-custom-b3ebe4 px-4 ml-auto" (click)="volver()">Menu</button>
    </div>


    <div class="card-container text-xl horizontal-scroll">

      <app-card
      *ngFor="let order of pendingOrders"
      [order]="order"
      (orderDelivered)="marcarEntregado(order.id)"
      (seeOrders)="loadPendingOrders()">
    </app-card>

    </div>


  </section>

  <div *ngIf="pendingOrders.length === 0">
    <div class="cat flex justify-center mb-8">
      <img class="w-1/3" src="../../../assets/pop-cat.gif" alt="Cat gif" />
    </div>
    <div class="flex justify-center items-center">
      <div class="text-center bg-black bg-opacity-85 border-3 border-white rounded w-3/5 py-4">
        <h2 class="text-white text-7xl">No hay ordenes pendientes</h2>
      </div>
    </div>
  </div>
