<body class="h-screen ">
  <app-header></app-header>
  <section class="px-11 py-4">

    <div class="flex flex-row mb-3">
      <h1 class="text-5xl text-white font-extrabold ">Ordenes Pendientes:</h1>
      <button class="btn bg-custom-fa81aa p-1 ml-auto" (click)="volver()">Menu</button>
    </div>


    <div class="card-container text-xl horizontal-scroll">

      <app-card
      *ngFor="let order of pendingOrders"
      [order]="order"
      [showReadyButton]="true"
      (markReady)="marcarPedidoListo(order.id)">
    </app-card>

    </div>


  </section>

  <div *ngIf="pendingOrders.length === 0">
    <p>No hay ordenes pendientes</p>
  </div>
</body>