<section class="h-screen">
  <app-header></app-header>
<div class="inicio flex">
  <button class="btn bg-custom-dab5e1 h-16 w-auto font-bold mx-11 px-3 mt-2" (click)="openAddWorkerModal()">Agregar Trabajador</button>
  <button class="btn bg-custom-dab5e1 h-16 w-auto font-bold ml-auto px-3 mt-2 mr-11" (click)="goToProducts()">Productos</button>
</div>

  <div class="workers flex my-2 mx-11 overflow-auto">
    <div class="grid grid-cols-3 gap-4">
      <div class="workers-container px-9 font-semibold bg-slate-200 flex flex-col justify-between" *ngFor="let worker of workers">
        <p class="text-3xl">{{ worker.name }}</p>
        <p>- {{ worker.email }}</p>
        <p>- {{ worker.role }}</p>
  
        <div class="btns my-2">
          <button class="worker px-2 mr-16 bg-custom-dab5e1">Editar</button>
          <button class="worker px-2 bg-custom-b3ebe4">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  
  <app-create-workers
  *ngIf="showAddWorkerModal" 
  (addWorkerEvent)="onAddWorker($event)"
  (closeModalEvent)="closeAddWorkerModal()"
  ></app-create-workers>
</section>
